*,
*::before,
*::after {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
  font-weight: bolder;
  margin: 0;
  color: #333;
}

.webpack-logo {
  width: 3rem;
}