@import "variables";

*,
*::before,
*::after {
  font-family: $base-font-family;
  font-size: $base-font-size;
  box-sizing: border-box;
}

h1 {
  font-size: $base-font-size * 2;
  font-weight: bolder;
  margin: 0;
  color: #333;
}

.webpack-logo {
  width: 3rem;
}
